@-webkit-keyframes slidein {
  from {
    margin-top: 50px;
    opacity: 0.7;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    margin-top: 50px;
    opacity: 0.7;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

#hd #hd_top #btn_gnb {
  background: url("../../img/logo_logcompany.png") no-repeat 50% 50%;
  background-size: 23px;
}

#hd #gnb .gnb_ul {
  background: #212936;
}

#hd #gnb .gnb_ul .gnb_li .btn_op.menu-100 {
  background: url("../../img/menu-1.png") 50% 50% no-repeat #212936;
}
